.list-suggestion__container {
  width: 100%;
  max-height: 200px;
  min-height: 100px;
  background-color: var(--palette-gray-10);
  position: absolute;
  z-index: 100;
  top: 45px;

  overflow-y: auto;
  .ant-list-items {
    .ant-list-item {
      &:hover {
        cursor: pointer;
        background-color: #e8e8e8;
      }
    }
  }
}
