@import "./design-system/color";
.noti-icon .badge {
  left: 23px;
  top: 15px;
}
.mt-2 {
  margin-top: 20px !important;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
}

.rdw-editor-main {
  border: 1px solid #eeeef5;
  height: 239px;
}
.dz-message {
  text-align: center;
  padding: 100px;
}

.task-box {
  border: 1px solid #e1e1e6;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

.ReactModal__Overlay {
  z-index: 1001 !important;
}

.fc-event .fc-content {
  padding: 5px;
  color: #fff;
}
.chat-conversation .right .conversation-list {
  margin-right: 15px;
}

.external-event {
  &:hover {
    cursor: pointer;
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #7cb342 !important;
}

.ant-picker-range .ant-picker-active-bar {
  background: var(--color-primary);
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid var(--color-primary);
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: var(--color-primary);
}

.ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
  border-top: 1px dashed var(--color-primary);
  border-bottom: 1px dashed var(--color-primary);
}

tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after,
tr
  > .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
.ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
  border-right: 1px dashed var(--color-primary);
}

tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after,
tr
  > .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
.ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
  border-left: 1px dashed var(--color-primary);
}

.ant-modal-wrap {
  z-index: 1010;
}

.ant-drawer {
  z-index: 9999;
}

.ant-modal-import-error {
  .ant-modal-confirm-body
    > .anticon
    + .ant-modal-confirm-title
    + .ant-modal-confirm-content {
    white-space: pre-line;
  }
}
.text__with__label {
  color: var(--palette-gray-70);
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    width: 100%;
  }

  span:first-child {
    display: block;
    word-wrap: break-word;
    letter-spacing: 0.16px;
    margin-right: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
  }
}
.text-align-center {
  text-align: center;
}

.badget-text-container {
  place-self: center;
  .text-in-table-cell {
    width: fit-content;
    line-height: 30px;
  }
  .badget-text {
    height: 30px;
    font-size: 14px;
  }
}
.text__with__label_vertical {
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: var(--palette-gray-70);
  }

  span:first-child {
    word-wrap: break-word;
    letter-spacing: 0.16px;
    margin-right: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: var(--palette-gray-70);
  }
}
.custom-credit-card-table {
  .ant-table-cell {
    height: 200px !important;
  }
  .custom-header {
    place-content: center;
  }
}
